@use 'mixins';

.features {
  --var-text: #fff;

  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.gap-y(96px);
  text-align: center;

  h2 {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 3rem;
  }
  .feature {
    display: flex;
    flex-direction: column;
    @include mixins.gap-y(32px);
    h3 {
      color: #777;
      font-size: 2.2rem;
    }
    .cards-wrapper {
      max-width: 1024px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 24px;
      grid-template-areas:
        'card__1 card__1'
        'card__2 card__3'
        'card__4 card__4';
      &--single {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'card__1';
      }
      .card {
        &--1 {
          grid-area: card__1;
        }
        &--2 {
          grid-area: card__2;
        }
        &--3 {
          grid-area: card__3;
        }
        &--4 {
          grid-area: card__4;
        }
        background-color: var(--var-bg);
        color: var(--var-text);
        display: flex;
        overflow: hidden;
        height: 480px;
        border-radius: 16px;
        position: relative;
        &__half {
          flex-direction: column;
          .card__content {
            width: 100%;
          }
          .card__image {
            width: auto;
            height: 100%;
          }
        }
        &__content {
          padding: 32px;
          width: 50%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          text-align: left;
          flex-direction: column;
          &__title {
            font-size: 3.2rem;
            font-weight: 600;
          }
          &__subtitle {
            font-size: 1.8rem;
          }
        }
        &__image {
          width: 50%;
          justify-self: center;
          align-self: center;
          @include mixins.transition(250ms);
          // transition-timing-function: linear;
        }
        &:hover .card__image {
          transform: scale(1.02);
        }
        &__button {
          position: absolute;
          left: 32px;
          bottom: 32px;
          background-color: transparent;
          display: flex;
          align-items: center;
          @include mixins.gap-x(4px);
          color: var(--var-text);
          img {
            fill: var(--var-text);
          }
        }
        &:hover .card__button {
          background-color: var(--var-bg-darken);
        }
      }
    }
  }
}

@media screen {
  @media (max-width: 1056px) {
    .card {
      flex-direction: column !important;
      &__content,
      &__image {
        width: 100% !important;
      }
      &__content__title {
        font-size: 2.4rem !important;
      }
      &__half {
        .card__image {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
    .cards-wrapper {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
      grid-template-areas:
        'card__1'
        'card__2'
        'card__3'
        'card__4' !important;
      &--single {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr !important;
        grid-template-areas: 'card__1' !important;
      }
    }
  }
}
