@use 'mixins';

// SIGN UP FORM

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include mixins.gap-y(32px);
  &__carousel {
    width: 100%;
    height: 372px;
    position: relative;
  }

  &__section {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include mixins.transition(250ms);

    &__label {
      grid-area: label;
      display: flex;
      align-items: flex-end;
      color: #555;
      margin-bottom: -8px;
    }

    &__spacer {
      grid-area: spacer;
    }

    &__switcher {
      width: 61px;

      &--prev {
        grid-area: prev;
        justify-self: start;
      }

      &--next {
        grid-area: next;
        justify-self: end;
      }
    }

    &--user {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 24px;
      grid-template-areas:
        'label label'
        'first-name middle-name'
        'last-name last-name'
        'personal-number birth-date'
        'spacer spacer'
        'prev next';
      #first-name {
        grid-area: first-name;
      }
      #middle-name {
        grid-area: middle-name;
      }
      #last-name {
        grid-area: last-name;
      }
      #personal-number {
        grid-area: personal-number;
      }
      #birth-date {
        grid-area: birth-date;
      }
    }

    &--address {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 24px;
      grid-template-areas:
        'label label'
        'address-1 address-1'
        'address-2 address-2'
        'post-code city'
        'country country'
        'prev next';
      #address-1 {
        grid-area: address-1;
      }
      #address-2 {
        grid-area: address-2;
      }
      #post-code {
        grid-area: post-code;
      }
      #city {
        grid-area: city;
      }
      #country {
        grid-area: country;
      }
    }

    &--contact {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 24px;
      grid-template-areas:
        'label label label label label label label label'
        'country-code country-code phone phone phone phone phone phone'
        'email email email email email email email email'
        'spacer spacer spacer spacer spacer spacer spacer spacer'
        'spacer spacer spacer spacer spacer spacer spacer spacer'
        'prev create create create create create create create';
      #country-code {
        grid-area: country-code;
      }
      #phone {
        grid-area: phone;
      }
      #email {
        grid-area: email;
      }
    }
  }

  &--sign-up {
    input,
    select {
      color: inherit;
      font-size: 1.8rem;
      padding: 10px 20px;
      outline: none;
      background-color: #eeeeeeaa;
      border-radius: 8px;
      border: none;
      @include mixins.transition();
      font-family: inherit;
      &:focus,
      &:hover {
        background-color: #eee;
      }
    }
    input {
      &::placeholder {
        color: #888;
      }
      &[type='number'] {
        appearance: none;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
          -webkit-appearance: none;
        }
      }
    }
    select {
      option {
        background-color: #fff;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .country-code-wrapper {
    position: relative;
    .options {
      width: max-content;
      height: 208px;
      position: absolute;
      left: 0;
      top: 48px;
      background-color: #fff;
      border-radius: 16px;
      overflow: scroll;
      box-shadow: 0px 0px 16px -10px rgba($color: #000, $alpha: 0.5);
      opacity: 0;
      transform: translateY(-4px);
      @include mixins.transition(250ms);
      .search-box {
        position: sticky;
        top: 0;
        left: 0;
        border-bottom: 1px solid #eee;
        background-color: #fff;
        input[type='search'] {
          width: 100%;
          border-radius: 0;
          background-color: inherit;
          height: 56px;
          color: #222;
        }
        .search-icon {
          width: 56px;
          height: 56px;
          position: absolute;
          top: 0;
          right: 0;
          display: grid;
          place-content: center;
          img {
            width: 24px;
            opacity: 0.25;
          }
        }
      }
      .country {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 24px;
        grid-template-areas: 'data country-name country-name';
        padding: 8px;
        margin: 4px;
        cursor: default;
        border-radius: 8px;
        &:hover {
          background-color: #eeeeeeaa;
        }
        .flag {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 100%;
        }
        .data {
          grid-area: data;
          color: #555;
          display: flex;
          align-items: center;
          @include mixins.gap-x(1.2rem);
          font-size: 1.8rem;
        }
        .country-name {
          grid-area: country-name;
        }
      }
    }
  }
  .btn {
    &--create-account {
      grid-area: create;
      background-color: var(--var-primary);
      color: #fff;
      font-weight: 500;
      flex-grow: 1;
      &:focus,
      &:hover {
        background-color: lighten($color: #222, $amount: 3);
      }
    }
    &--select {
      background-color: #eeeeeeaa;
      width: 100%;
      height: 100%;
      text-align: left;
      position: relative;
      &:focus,
      &:hover {
        background-color: #eee;
      }
      .selected-country {
        display: flex;
        align-items: center;
        @include mixins.gap-x(12px);
        img {
          width: 24px;
          height: 24px;
          border-radius: 100%;
          object-fit: cover;
          overflow: hidden;
        }
        .temp {
          width: 64px;
          height: 18px;
          border-radius: 32px;
          background-color: #888;
        }
      }
    }
  }
}

@media screen {
  @media (max-width: 720px) {
    .form {
      &__carousel {
        height: 390px;
      }
      &__section {
        &--user {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(7, 1fr);
          gap: 16px;
          grid-template-areas:
            'label label'
            'first-name first-name'
            'middle-name middle-name'
            'last-name last-name'
            'personal-number personal-number'
            'birth-date birth-date'
            'prev next';
        }

        &--address {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(7, 1fr);
          gap: 16px;
          grid-template-areas:
            'label label'
            'address-1 address-1'
            'address-2 address-2'
            'post-code post-code'
            'city city'
            'country country'
            'prev next';
        }

        &--contact {
          display: grid;
          grid-template-columns: repeat(8, 1fr);
          grid-template-rows: repeat(7, 1fr);
          gap: 16px;
          grid-template-areas:
            'label label label label label label label label'
            'country-code country-code phone phone phone phone phone phone'
            'email email email email email email email email'
            'spacer spacer spacer spacer spacer spacer spacer spacer'
            'spacer spacer spacer spacer spacer spacer spacer spacer'
            'spacer spacer spacer spacer spacer spacer spacer spacer'
            'prev create create create create create create create';
        }
      }
    }
  }
}
